[user]
	name = Mouhamadou Moustapha SISSOKHO
	email = siskomouhamed@gmail.com
[alias]
	st = status
	co = commit
	br = branch
	ch = checkout
	sw = switch
[core]
	editor = vim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
